* {
	outline: none;
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

html, body {
    background: #1e3042;
}

body {
	font-family: 'Roboto Condensed', sans-serif;
}

a {
	text-decoration: none;
}

ul, li {
	list-style: none;
	margin: 0;
	padding: 0;
}

.clear {
	clear: both;
}

input:not([type="checkbox"]) {
    width: 100%;
    height: 40px;
    background: #435c74;
    border: 0 none;
    border-radius: 5px;
    font-family: 'Roboto Condensed', sans-serif;
    color: #d4dde6;
    font-size: 16px;
    padding: 0 15px;
}

input:not([type="checkbox"]):focus {
    border: solid 2px #06aec6;
    padding-left: 13px;
}

input::-webkit-input-placeholder {color:#d4dde6;}
input::-moz-placeholder          {color:#d4dde6;}
input:-moz-placeholder           {color:#d4dde6;}
input:-ms-input-placeholder      {color:#d4dde6;}

input[disabled="disabled"]::-webkit-input-placeholder {color:#d4dde6;}
input[disabled="disabled"]::-moz-placeholder          {color:#d4dde6;}
input[disabled="disabled"]:-moz-placeholder           {color:#d4dde6;}
input[disabled="disabled"]:-ms-input-placeholder      {color:#d4dde6;}

button {
    border: 0 none;
    font-family: 'Roboto Condensed', sans-serif;
    cursor: pointer;
}

.btn {
    display: block;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    height: 40px;
    line-height: 40px;
    border-radius: 5px;
    font-size: 13px;
    background: #009db3;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
}

.btn:hover {
    color: #fff;
    text-decoration: none;
    background: #06aec6;
}

.head-search {
    float: left;
    width: calc(80% - 439px);
    padding: 10px 10px 0;
}

.head-search.no-positions {
    width: calc(100% - 439px);
}

.head-search input {
    background: #435c74 url(assets/img/search.png) 12px 10px no-repeat;
    padding-left: 42px;
}

.head-search input:focus {
    padding-left: 40px;
    background-position: 10px 8px;
}

.head-positions-drop {
    width: 20%;
    float: left;
    position: relative;
    padding: 10px 10px 0;
}

.hp-drop .hp-drop-title {
    width: 100%;
    height: 40px;
    background: #435c74 url(assets/img/arrow-select.png) right center no-repeat;
    border: 0 none;
    border-radius: 5px;
    font-family: 'Roboto Condensed', sans-serif;
    color: #d4dde6;
    font-size: 16px;
    padding: 0 15px;
    cursor: pointer;
}

.hp-drop .hp-drop-title:hover {
    background: #4f6983 url(assets/img/arrow-select.png) right center no-repeat;
}

.hp-drop.uk-open .hp-drop-title {
    border: solid 2px #06aec6;
    padding: 0 13px; 
}

.hp-drop.uk-open .hp-drop-title {
    line-height: 36px;
}

.hp-drop .hp-drop-title {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    line-height: 40px;
}

.hp-drop .uk-dropdown {
    width: calc(100% - 20px);
    left: 10px !important;
    border-radius: 5px;
    background: #435c74;
    color: #fff;
    padding: 0px;
    z-index: 1000;
}

.hp-drop .uk-dropdown div:not(.clear) {
    height: 40px;
}

.hp-drop .uk-dropdown div label {
    width: 100%;
    display: block;
    padding: 0 15px;
    cursor: pointer;
    line-height: 38px;
    float: left;
}

.hp-drop .uk-dropdown div.hp-select-all {
    background: #89ae39;
    border-radius: 5px 5px 0px 0px;
}

.hp-drop .uk-dropdown div label {
    width: calc(100% - 40px);
}

.hp-drop .uk-dropdown div .item {
    float: right;
    width: 40px;
    height: 40px;
    display: block;
    cursor: pointer;
}

.hp-drop .uk-dropdown div .item.delete {
    background: #779c26 url(assets/img/delete-icon.png) center no-repeat;
}

.hp-drop .uk-dropdown div .item.delete:hover {
    background: #6f9126 url(assets/img/delete-icon.png) center no-repeat;
}

.hp-drop .uk-dropdown div.hp-select-all .item {
    border-radius: 0px 5px 0px 0px;
}

.hp-drop .uk-dropdown div:not(.hp-select-all):hover {
    background: #4f6983;
}

.hp-drop .uk-dropdown div:not(.hp-select-all) .item {
    display: none;
    background: #3b5165 url(assets/img/delete-icon.png) center no-repeat;
}

.hp-drop .uk-dropdown div:not(.hp-select-all):hover .item {
    display: block;
    background: #3b5165 url(assets/img/delete-icon.png) center no-repeat;
}

.hp-drop .uk-dropdown div:not(.hp-select-all):hover .item:hover {
    background: #3c566a url(assets/img/delete-icon.png) center no-repeat;
}

.hp-drop .uk-dropdown div:last-child {
    border-radius: 0px 0px 5px 5px;
}

.hp-drop .uk-dropdown div:last-child .item.delete {
    border-radius: 0px 0px 5px 0px;
}

.hp-drop .uk-dropdown label input {
    display: inline-block;
    vertical-align: middle;
}

.hp-drop .uk-dropdown label span {
    display: inline-block;
    vertical-align: middle;
    margin-left: 6px;
}

.head-btn-admin .btn {
    display: inline-block;
    width: 100px;
    margin: 10px 3px 0;
}

.header {
    width: 100%;
    height: 60px;
    background: #13202c;
}

.head-btn-admin {
    float: right;
    height: 60px;
    width: 240px;
    text-align: center;
}

.logo {
    width: 199px;
    height: 60px;
    float: left;
}

.users-list {
    padding: 25px 15px;
}

.users-list .user-block {
    width: 32%;
    float: left;
    margin-bottom: 15px;
    margin-right: 2%;
}

.users-list .user-block:nth-child(3) {
    margin-right: 0;
}

.users-list .user-block .ub-img {
    width: 120px;
    height: 120px;
    float: left;
    overflow: hidden;
}

.users-list .user-block .ub-img img {
    width: 100%;
}

.users-list .user-block .ub-info {
    float: left;
    margin-left: 15px;
    width: calc(100% - 135px);
}

.users-list .user-block .ub-info span {
    display: block;
    color: #ffd200;
    margin-bottom: 8px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.users-list .user-block .ub-info span b {
    font-weight: normal;
    color: #7a8a9b;
}

.users-list .user-block .ub-info span.ub-name {
    text-transform: uppercase;
    color: #fff;
    font-weight: 700;
    font-size: 18px;
}

.users-list-clean {
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    font-size: 22px;
    padding: 75px 15px;
}

.uk-close::after {
    content: "";
}

.uk-open .uk-modal-dialog {
    border-radius: 5px;
    background: #2b4054;
}

.uk-modal-close {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 5px;
    right: 5px;
    margin: 0 !important;
    background: url(assets/img/close.png) center no-repeat;
    opacity: 1;
}

.popup-content {
    color: #fff;
}

.popup-content .title {
    text-align: center;
    text-transform: uppercase;
    font-size: 18px;
    margin-bottom: 20px;
}

.label {
    margin-bottom: 10px;
}

.label.label-btn {
    margin: 0;
}

.popup-content .label {
    text-align: center;
}

.popup-content .label .btn {
    margin: 0 auto;
    width: 160px;
}

.errorMessage {
    display: block;
    text-align: left;
    color: #fff;
    background: #ff6969;
    padding: 8px 15px 4px;
    margin-top: -4px;
    border-radius: 0px 0px 5px 5px;
}

.uk-modal-content {
    color: #fff;
    text-align: center;
}

.uk-modal-footer .uk-modal-close {
    display: block;
    text-align: center;
    position: static;
    text-transform: uppercase;
    color: #fff;
    height: 40px;
    line-height: 40px;
    border-radius: 5px;
    font-size: 13px;
    background: #009db3;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
    margin: 0 auto !important;
    width: 100px;
}

.uk-modal-footer .uk-modal-close:hover {
    color: #fff;
    text-decoration: none;
    background: #06aec6;
}

body > .uk-modal .uk-modal-dialog {
    width: 200px;
}