<div id="popup-positions" class="uk-modal">
    <div class="uk-modal-dialog">   
        <a class="uk-modal-close uk-close"></a>
        
        <div class="popup-content">
            <div class="title">{{ titleAddPosition }}</div>

            <form (ngSubmit)="createChangePosition()">
                <div class="label">
                    <input type="text" placeholder="Должность" name="position" value="Здесь текст" [(ngModel)]="positionInput" required>
                    <span *ngIf="!fieldError" class="errorMessage">{{ fieldErrorMessage }}</span>
                </div>

                <div class="label label-btn">
                    <button type="submit" class="btn head-btn-add">{{ titleBtnAddPosition }}</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div id="popup-users" class="uk-modal">
    <div class="uk-modal-dialog">   
        <a class="uk-modal-close uk-close"></a>

        <div class="popup-content">
            <div class="title">{{ titleUser }}</div>

            <form (ngSubmit)="createChangeUser()">
                <div class="label">
                    <input type="text" placeholder="Имя" name="name" [(ngModel)]="nameUserInput" required>
                    <span *ngIf="!fieldErrorBlockName" class="errorMessage">{{ fieldErrorName }}</span>
                </div>
                <div class="label">
                    <input type="text" placeholder="Фамилия" name="surname" [(ngModel)]="surnameUserInput" required>
                    <span *ngIf="!fieldErrorBlockSurname" class="errorMessage">{{ fieldErrorSurname }}</span>
                </div>
                <div class="label">
                    <input type="text" placeholder="Отчество" name="patronymic" [(ngModel)]="patronymicUserInput" required>
                    <span *ngIf="!fieldErrorBlockPatronymic" class="errorMessage">{{ fieldErrorPatronymic }}</span>
                </div>
                <div class="label">
                    <div class="uk-form-select" data-uk-form-select>
                        <span>{{ positionUserSelect }}</span>
                        <select [(ngModel)]="positionUserSelect" name="positionUserSelect">
                            <option *ngFor="let positionUser of positionUsers">{{positionUser.position}}</option>
                        </select>
                    </div>
                    <span *ngIf="!fieldErrorBlockPosition" class="errorMessage">{{ fieldErrorPosition }}</span>
                </div>
                <div class="label">
                    <input type="text" placeholder="Email" name="email" [(ngModel)]="emailUserInput" required>
                    <span *ngIf="!fieldErrorBlockEmail" class="errorMessage">{{ fieldErrorEmail }}</span>
                </div>
                <div class="label">
                    <input type="text" placeholder="Skype" name="skype" [(ngModel)]="skypeUserInput" required>
                    <span *ngIf="!fieldErrorBlockSkype" class="errorMessage">{{ fieldErrorSkype }}</span>
                </div>

                <div class="label label-btn">
                    <button type="submit" class="btn head-btn-add">{{ titleBtnAddUser }}</button>
                </div>
            </form>
        </div>
    </div>
</div>

<form method="post">
    <div>
        <div class="header">
            <div class="logo">
                <img src="assets/img/logo.png" alt="">
            </div>

            <div class="head-search" [ngClass]="addClassPositions()">
                <div class="label">
                    <input type="text" [(ngModel)]="searchUser" name="search" placeholder="Поиск...">
                </div>
            </div>

            <div class="head-positions-drop" *ngIf="positionUsers.length > 0">
                <div class="hp-drop" data-uk-dropdown="{mode:'click'}">   
                    <div class="hp-drop-title">Выберите должность</div>
                    <div class="uk-dropdown">
                        <div class="hp-select-all">
                            <label>
                                <input type="checkbox" name="1" [checked]="itemCheck()" (change)="selectAllCheckboxes($event)"> 
                                <span>Выделить все</span> 
                            </label>

                            <span class="item delete" (click)="deleteAllPosition()"></span>

                            <div class="clear"></div>
                        </div>
                        <div *ngFor="let positionUser of positionUsers">
                            <label>
                                <input type="checkbox" name="position" [(ngModel)]="positionUser.selected" (ngModelChange)="changeCheckboxes()"> 
                                <span>{{ positionUser.position }}</span>
                            </label>
 
                            <span class="item delete" (click)="deletePosition(positionUser.$key)"></span>
                            <a href="#popup-positions" class="item edit" (click)="changePositionPopup(positionUser.position, positionUsers.indexOf(positionUser), positionUser.$key)" data-uk-modal></a>

                            <div class="clear"></div>
                        </div>
                    </div>   
                </div>
            </div>

            

            <div class="head-btn-admin">
                <a href="#popup-positions" class="btn head-btn-add" (click)="addPositionPopup()" data-uk-modal>+ должность</a>
                <a href="#popup-users" class="btn head-btn-add" (click)="addUserPopup()" *ngIf="positionUsers.length != 0" data-uk-modal>+ сотрудник</a>
                <span class="btn head-btn-add no-active" *ngIf="positionUsers.length == 0">+ сотрудник</span>   
            </div>

            <div class="clear"></div>
        </div>

        <div class="users-list" *ngIf="dataUsers.length > 0">
            
            <div class="users-list-clean" *ngIf="(dataUsers | filter : searchUser | checkFilter : positionUsers).length == 0">
                По вашему запросу ничего не найдено
            </div>
            
            <div class="user-block" *ngFor="let dataUser of dataUsers | orderBy | filter : searchUser | checkFilter : positionUsers">
                <div class="ub-img"> 
                    <img src="{{ dataUser.avatarUrl }}" alt="">
                </div>
                
                <div class="ub-info">
                    <span class="ub-name">{{ dataUser.surname }} {{ dataUser.name }} {{ dataUser.patronymic }}</span>
                    <span class="ub-position"><b>Должность:</b> {{ dataUser.position }}</span>
                    <span class="ub-skype"><b>Skype:</b> {{ dataUser.skype }}</span>
                    <span class="ub-email"><b>E-mail:</b> {{ dataUser.email }}</span>
                </div>

                <div class="user-control">
                    <span class="user-control-delete" (click)="deleteUser(dataUser.$key)"></span>
                    <a href="#popup-users" class="user-control-update" (click)="changeUserInformation(dataUsers.indexOf(dataUser), dataUser.$key)" data-uk-modal></a>
                </div>

                <div class="clear"></div>
            </div>

            <div class="clear"></div>
        </div>

        <div class="users-list" *ngIf="dataUsers.length == 0">
            <div class="users-list-clean">
                Список сотрудников пуст
            </div>
        </div>
    </div>
</form>


